body{
    background-image: url(https://orig00.deviantart.net/22d8/f/2014/191/a/e/super_mario_collage_by_janellelovesudon-d7q45n2.jpg);

}

footer{
    background-color: white;
    text-align: center;
    border:5px solid black;
}

h1{
    background-color: brown;
    padding:50px;
    text-align: center;
    font-size: 150%;
    margin-top: 50px;
    margin-bottom: 50px;
}

ul{
    padding: 10px;
    text-align: center;
}

li{
    display: inline-block;
    background-color: aqua;
    padding: 10px;
    width: 300px;
    border: 5px solid black;

}

.rt{
    text-align: center;
}

.profit{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: inline-block;
    padding: 20px;
    padding-left: 100px;
    border: 5px solid black;
    padding-right: 100px;
    background-color: darkolivegreen;
    margin-bottom: 30px;
}

.p1{
    display: inline-block;
    border: 3px solid lightgray;
}

.p2{
    display: inline-block;
    margin-left: 200px;
    margin-right: 200px;
    border: 3px solid lightgray;

}

.p3{
    display: inline-block;
    border: 3px solid lightgray;

}

#coster{
    display: inline-block;
}